
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .new-table{
        text-decoration: none;
        border: solid 1px #FFD53D;
        border-radius: 5px;
        background: #FFD53D;
        color: #4B4848;
        padding: 6px;
        font-weight: 500;
        transition: ease-in 0.2s;
        display: block;
        position: absolute;
        top: 94px;
        right: 86px;
        
        svg {
            margin-left: 6px;
        }       
    }

    .card {
        padding: 20px;
        margin-top: 52px;
        p {
            font-size: 26px;
            font-weight: 500;
            
        }
        .new {
            text-decoration: none;
            border: solid 1px #FFD53D;
            border-radius: 5px;
            background: #FFD53D;
            color: #4B4848;
            padding: 6px;
            line-height: 4;
            font-weight: 500;
            transition: ease-in 0.2s;
            

            svg {
                margin-left: 6px;
            }

        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }
        table caption {
            font-size: 24px;
            margin: .5em 0.75em;
        }
        table tr {
            background: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }
        table th,
        table td {
            padding: .62em;
            text-align: center;
        }
        table th {
            font-size: .85em;
            letter-spacing: .3em;
            text-transform: uppercase;
        }
        table td .action {
            border: 0;
            padding: 5px;
            margin-right: 2px;
            align-items: center;
            display: inline-block;
        }
        table td .action svg {
            vertical-align: middle;
        }
        table td .badget {
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }

        .btn-more {
            border: transparent;
            background: #0000A3;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 36px;
            border-radius: 5px;
            font-weight: 600;
            padding: 10px;
            display: block;
            width: 150px;
        }

    }
}

@media screen and (max-width: 600px) {
    .container {
        .card {
            table {
                border: 0;
            }
            table caption {
                font-size: 1.3em;
            }
            table thead {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .65em;
            }
            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
                padding-right: 40px;
            }
            table td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            table td:last-child {
                border-bottom: 0;
            }

            .btn-more {
                font-size: 16px;
            }
            
        }
    }
    
}

@media screen and (min-width: 701px) {
    .container {
        .new-table {
            right: 50px;
        }
        
    }
}
// @media screen and (min-width: 769px) and (max-width: 800px) {
//     .container {
//         .new-table {
//             right: 50px;
//         }
//     }
// }

@media screen and (max-width:700px) {
    .container {
       
        .new-table{
            top: 245px;
            right: 18px;
        }
    }
}