

.sidebar {
    margin: 0;
    padding: 0%;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    z-index: 1;
    background:#0000A3;
    filter:drop-shadow(-3px 1px 4px #848484);
    
    img {
        margin: 0 auto;
        max-width: 100%;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: block;
        margin-top: 30px;
        -webkit-filter: drop-shadow(-3px 1px 4px #848484);
        filter:drop-shadow(-3px 1px 4px #848484);
    }
    a {
        color:#EDEDF8 ;
        display: block;
        text-decoration: none;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        transition: ease-in-out .4s;

        svg {
            margin-right: 8px;
            margin-left: 8px;
        }
    }  
    
    button {
        margin-top: 225px;
        margin-left: 10px;
        background: transparent;
        color: #fff;
        padding: 6px;
        text-align: center;
        border-radius: 6px;
    } 
    button:hover {
        background: #FFD53D;
        color: #4B4848;
    }
}


@media only screen and (max-width: 700px) and (min-width:400px) {  
    .sidebar button {
        float: right;
    }
}

@media only screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;

        img{
            display: none;
        }
        a {
            float: left;
            padding: 10px;

            svg {
                display: none;
            }   
        }
        button {
            margin: 10px;
        }
    }
    
}

@media only screen and (max-width: 400px) {
    .sidebar {
        a {
            text-align: center;
            float: none;

            svg {
                display: none;
            }
        }

    }
    
}
