.footer {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.33);
    backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 162, 155, 155, 0.2 );
    padding: 10px;
    font-family: sans-serif;
    margin-top: 30px;

    p {
        text-align: center;
        padding-top: 6px;
        font-weight: 600;
    }
}